<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr>
      <app-account 
        *ngFor="let acc of accounts; let i = index"
        [account] = "acc"
        [id] = "i"
        (statusChanged) = "onStatusChanged($event)"></app-account>
    </div>
  </div>
</div>



<!-- <div class="col">
  <br />
  <div ngbDropdown>
    <button class="btn btn-warning" id="gfg" ngbDropdownToggle>Click Here!</button>
    <div ngbDropdownMenu="gfg">
      <button ngbDropdownItem>January</button>
      <button ngbDropdownItem>February</button>
      <button ngbDropdownItem>March</button>
    </div>
  </div>
</div> -->


<!-- <div class="col">
    <br/><br/><br/><br/>
    
    <div ngbDropdown placement="top-right">
      <button class="btn btn-warning" id="gfg"
          ngbDropdownToggle>Click Here!</button>
      <div ngbDropdownMenu="gfg">
      <button ngbDropdownItem>GeeksforGeeks</button>
      <button ngbDropdownItem>Angular10</button>
      <button ngbDropdownItem>ng bootstrap</button>
      </div>
    </div>
    </div>
     -->

<!-- <div appHighlight>
  <p>This is a test text!</p>
</div>

<div class="container">
  <p>This is a Test text 2!</p>
</div> -->